*{
    padding: 0px;
    margin: 0px;
}
.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}
.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#Box {
    border: none;
    font-size: clamp(1rem, 2.2vw, 4rem);    
    text-align: center;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
/* 
.dark {
    background-color: black;
    color: white;
}

.light {
    background-color: white;
    color: black;
}

#Box.dark-btn {
    background-color: white;
    color: black;
}

#Box.light-btn {
    background-color: black;
    color: white;
} */

/* css */

.nav{
    display: flex;
    font-size: clamp(1rem, 6vw, 1rem);    
    height: 10vh;
    width: auto;
    /* border: 2px solid black; */
   box-shadow: 0 1px 10px black;
}

#logo{
  font-family: 'Luckiest Guy', cursive;
    font-size: clamp(1rem, 3vw, 4rem);
    animation: pop 0.6s ease;
}
#github{
    font-size: clamp(1rem, 2.2vw, 5rem);   
    margin-left: 70vw;
    margin-top: 1.2vw;
}
#Box{
    margin-top: 1.2vw;
    margin-left: 8vw;
}


#main{
    margin-top: 6vw;
    display: flex;
    justify-content: space-evenly;
}
#info{
     height: 10vw;
     width: 30vw;
}

#h{
    font-size: clamp(1rem, 2.5vw, 3rem);
 font-family:  "Dancing Script", cursive;; 
}
#para{
    line-height: 1.5vw;
    font-size: clamp(1rem, 1.2vw, 2rem);
    color: #000000BF;
    font-family:  "Dancing Script", cursive;;
}
#img_box{
    height: 10vw;
    width: 10vw;
    border: 2px solid black;

}
#btn{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 2vw;
    width: 6vw;
    border: 2px solid black;
    border-radius: 15px;
    margin-top: 1vw;

}
#creat{
    font-size: clamp(1rem, 1vw, 1rem);
    background-color: white;
    border: none;

}


